<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>lishipingTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96165CC21FCD6333001D98F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96ACE6FA1FAB14EC005B7CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96ACE7121FAB14EC005B7CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96ACE71D1FAB14EC005B7CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96CFE4D01FD6A98000645143</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96CFE4D81FD6A98000645143</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
